body{
    background-image: linear-gradient(to bottom right, #182c7a, #6a3e87);
    font-family: 'Odibee Sans', cursive;
    color: black;
    height: 948px;
}

h1{
    font-size: 50px;
    text-align: center;
}

a{
    text-decoration-line: none;
    color: black;
}


.game{
    background-color: white;  
    margin-top: 3em;
    margin-left: 1.9in;
    margin-right: 1.9in;
    height: 8in;
}

.play{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.btn-light{
    border: 1ex white outset;
    font-size:x-large;
    margin-top: 2ex;
}

.btn-light:hover{
    border: 1ex #03b5c1 outset;
}

.cards{
    margin-top: 42px;
    margin-left: -9px;
    margin-right: -58px;
    width: 800px;
    height: 596px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choice{
    background-color: #d8d7f5;
}

.hunter{
    width: 572px;
}
.ninja{
    width: 250px;
    margin-right: 10px;
}
.bear{
    width: 312px;
}

.yourScore{
    margin-left: 49px;
    margin-right: 150px;
    width: 206px;
    height: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(47, 56, 173);
    color: white;
    
}

#userPick{
    background-color: rgb(47, 56, 173);
}

#computerPick{
    background-color: rgb(131, 83, 150);
    transform: scaleX(-1);
}

.compScore{
    text-align: center;
    margin-right: 47px;
    margin-left: 88px;
    width: 261px;
    height: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(131, 83, 150);
    color: white;
    
}

/* Game Field CSS */
.whoWins{
    display: none;
    align-items: center;
    margin-top: 230px;
}

.whoWon{
    margin-top: 59px;
    margin-left: 40px;
}

.yourChoice{
    margin-right: 79px;
}

.compChoice{
    margin-left: 128px;
}

.yourImg img{
    width: 400px;
}

.compImg img{
    width: 310px;
}

.whoWins h3{
    text-align: center;
}

.tryAgain{
    text-align: center;
}

p {
    font-size: 30px;
}

.choice:hover{
    border: 5px solid black;
}

.modalImg{
    background-image:url("assets/arrow.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 400px;
    background-position-x: center;
    width: 450px;
}

.hunterModal{
    width: 300px;
    margin-left: 142px;
    margin-bottom: 62px;
}

.ninjaModal{
    width: 175px;
    margin-right: 135px;
    margin-left:-47px;
    margin-top: 44px;
}

.bearModal{
    width: 185px;
    margin-top: 62px;
    margin-left: -10px;
}

.description{
    padding-left: 200px;
    padding-right: 200px;
}

.howToPlay{
    display: none;
    flex-direction: column;
    width: 800px;
    height: 600px;
    margin-top: 53px;
}

#userPick{
    width: 300px;
}

.computerPick{
    width: 300px;
}

.first{
    display: flex;
}

.second{
    display: none;
}