.header{
    margin-top: 20px;
    height: 2in;
}

h1{
    font-size: 30ex;
}

body{
    background-image: linear-gradient(to bottom right, #a39984, #e6d3aa);
    font-family: 'Odibee Sans', cursive;
    font-size: 10px;
    height: 948px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.btn{
    border: 1ex #dba604 solid;
    font-size:xx-large;
    margin-top: 5ex;
}

a{
    text-decoration-line: none;
    color: black;
}

.gif{
    margin-top: 5px;
}
